@charset "UTF-8";
/*  统一页面样式  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 13px;
    font-family: \5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    /*  隐藏横向滚动条  !!! */
    overflow-x: hidden;
}
ul{
    padding-left: 0;
    list-style: none;
}
a{
    color: #505050;
    text-decoration: none;
}
a:hover{
    color: #07528c;
}

/*   header   */
/*  head_top   */
.head_top{
    width: 100%;
    height: 32px;
    line-height: 32px;
    position: relative;
    background: #E8E8E8;

}
.head_top .head_top1{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.head_top .left{
    float: left;
}
.head_top .right{
    float: left;
    position: relative;
    right: 0;
    margin-left: 45%;
}
.head_top .right>li{
    float: left;
    padding: 0 10px;
}
.head_top .right li{
    position: relative;
    cursor: pointer;

}
/*  设置下拉  */
.head_top .right .li1 .sub,
.head_top .right .li2 .sub{
    width: 100px;
    height: 0;
    background: white;
    overflow: hidden;
    position: absolute;
    right: -10px;
    transition: height 0.5s;
    z-index: 10;
}
.head_top .right .li1 .sub_ul,
.head_top .right .li2 .sub_ul {
    width: 100px;
    height: 60px;
    float: left;
    text-align: center;
}
.head_top .right .sub_ul li{
    width: 100px;
    height: 30px;
}
.head_top .right .sub_ul li a{
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.head_top .right .li1:hover .sub,
.head_top .right .li2:hover .sub {
    height: 60px;
    border: 1px solid #DDDDDD;
    border-bottom: 3px solid red;
}
.head_top .right .li1 .sub .sub_ul li a:hover,
.head_top .right .li2 .sub .sub_ul li a:hover{
    background: #E8E8E8;
    color: #505050;
}
/*  子公司下拉  */
.head_top .right .li3 .sub2{
    width: 180px;
    height: 0;
    background: white;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: height 0.5s;
    z-index: 10;
}
.head_top .right .li3 .sub2 .sub2_ul{
    width: 180px;
    height: 120px;
    float: left;
    text-align: center;
}
.head_top .right .li3 .sub2 .sub2_ul li{
    width: 100%;
    height: 30px;
}
.head_top .right .li3 .sub2 .sub2_ul li a{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.head_top .right .li3:hover .sub2{
    height: 120px;
    border: 1px solid #DDDDDD;
    border-bottom: 3px solid red;
}
.head_top .right .li3 .sub2 .sub2_ul li a:hover{
    background: #E8E8E8;
    color: #505050;
}
/*  头部的底部  */
.head_bottom:before,.head_bottom:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.head_bottom .head_bottom1{
    width: 90%;
    height: 88px;
    margin: 0 auto;
    position: relative;
}
.head_bottom1 .logo a{
    display: block;
    width: 220px;
    height: 88px;
    background: url("../img/logo.png");
    float: left;
}
.head_bottom1 .nav{
    width: 675px;
    height: 88px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-left: 200px;
}
.head_bottom1 .nav .nav_ul{
    width: 100%;
    height: 88px;
}
.head_bottom1 .nav .nav_ul li{
    width: 100px;
    height: 88px;
    line-height: 88px;
    float: left;
    text-align: center;
}
.head_bottom1 .nav .nav_ul li>a{
    display: block;
}
.head_bottom1 .nav .nav_ul li.index{
    width: 75px;
    height: 88px;
    line-height: 88px;
    background: red;
}
.head_bottom1 .nav .nav_ul li.index a{
    color: white;
}
.head_bottom1 .nav .nav_ul>li:hover{
    background: red;
    color: white;
}
.head_bottom1 .nav .nav_ul li:hover a{
    color: white;
}
/*   中英   */
.head_bottom1 .search{
    width: 50px;
    height: 88px;
    border-left: 1px solid #DDDDDD;
    float: left;
}
.head_bottom1 .search>a{
    display: block;
    width: 100%;
    height: 88px;
    line-height: 88px;
    margin-top: 45%;
}
.head_bottom1 .search a .search_logo{
    width: 30px;
    height: 30px;
    line-height: 88px;
    margin-left: 10px;
    background: url("../img/ico.png");
    background-position: 2px 10px;
}
.head_bottom1 .search .sub_s{
    width: 200px;
    height: 0;
    position: relative;
    left: -100px;
    top: -20px;
    overflow: hidden;
    transition: height 0.5s;
}
.head_bottom1 .search .sub_s input{
    width: 200px;
    height: 50px;
    border: none;
}
.head_bottom1 .search:hover .sub_s{
    height: 50px;
    border: 3px solid black;
}
.head_bottom1 .language{
    width: 60px;
    height: 88px;
    font-weight: bold;
    float: right;
}
.head_bottom1 .language>a{
    display: block;
    width: 60px;
    height: 88px;
    line-height: 88px;
}
.head_bottom1 .language .sub_l{
    background-color: #4c4a4f;
    width: 250px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    position: absolute;
    right: 0;
}
.head_bottom1 .language .sub_l>a{
    display: block;
    text-align: center;
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
    color: white;
}
.head_bottom1 .language:hover .sub_l{
    height: 60px;
}
.head_bottom1 .language .sub_l>a:hover{
    color: red;
}
.head_bottom1 .nav .nav_ul .zj{
    background: white;
    width: 415px;
    height: 0;
    overflow: hidden;
    position: relative;
}
.head_bottom1 .nav .nav_ul .right{
    width: 415px;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.head_bottom1 .nav .nav_ul .zj .zj_ul{
    width: 150px;
    height: 180px;
    overflow-y: scroll;
    float: left;
}
.head_bottom1 .nav .nav_ul .right .zj_ul{
    overflow: hidden;
}
.head_bottom1 .nav .nav_ul .zj .zj_ul>li{
    width: 100px;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
}
.head_bottom1 .nav .nav_ul .zj .zj_ul>li>a{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #505050;
}
.head_bottom1 .nav .nav_ul .zj .zj_ul>li>a:hover{
    color: red;
}
.head_bottom1 .nav .nav_ul .zj img{
    float: right;
    width: 260px;
    height: 140px;
}
.head_bottom1 .nav .nav_ul .zj span{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    letter-spacing: -1px;
    color: #B6B2B2;
    float: left;
}
.head_bottom1 .nav .nav_ul .li_zj:hover .zj{
    height: 200px;
}










/*                 footer            */
.footer:before,.footer:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.footer{
    width: 100%;
    height: 276px;
    background-image: url("../img/f_t_bg.gif");

    position: relative;

    margin-top: 50px;
}
.footer .f_l{
    width: 20%;
    height: 100%;

    float: left;
    margin-left: 30px;
}
.footer .f_m{
    width: 22%;
    height: 100%;
    float: left;
}
.footer .f_r{
    width: 53%;
    height: 100%;
    float: left;
}
.footer .f_ll{
    width: 45px;
    height: 100%;
    margin-top: 30px;
    margin-left: 50px;
    float: left;

    background-image: url("../img/f_ico.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer .f_lr{
    width: 250px;
    margin-right: 70px;
    float: left;
    position: relative;
    top: -270px;
    left: 100px;
}
.footer .f_l .f_lr ul{
    width: 155px;
    height: 140px;
    overflow: scroll;
    position: absolute;
    overflow-x: hidden;
    top: 50px;
}
.footer .f_l .f_lr ul li{
    width: 150px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #81C9FE;
}
.footer .f_lr p{
    font-size: 20px;
    color: white;
    display: inline;
    float: left;
}

/*     设置滚动条      */
.footer .f_l .ull::-webkit-scrollbar{
    width: 7px;
}
.footer .f_l .ull::-webkit-scrollbar-button{
    /*    设置两端样式  可以用图片*/
}
.footer .f_l .ull::-webkit-scrollbar-track{
    /*   外轨道    */
    background: #ffffff;
}
.footer .f_l .ull::-webkit-scrollbar-thumb {
    /*    滚动部分    */
    background: #b4b4b4;
}


/*    footer  中间   */
.footer .f_m .f_ml{
    width: 45px;
    height: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 30px;

    background-image: url("../img/f_ico.png");
    background-repeat: no-repeat;
    background-position: -46px 0 ;
}
.footer .f_m .f_mr{
    width: 200px;
    height: 80%;
    float: left;
    margin-left: 80px;

    position: absolute;
    margin-top: 30px;
}
.footer .f_mr p{
    font-size: 20px;
    color: white;
    display: inline;
    float: left;
}
.footer .f_mr .mr_ul{
    width: 200px;
    height: 150px;

    margin-top: 60px;
    border-right: 1px solid #DDDDDD;
}
.footer .f_mr .mr_ul .ulm li{
    width: 90px;
    height: 30px;
    line-height: 30px;
    color: #81C9FE;
    font-size: 14px;
    float: left;
}

/*    footer  右边   */
.footer .f_r .r_l {
    width: 45px;
    height: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 30px;

    background-image: url("../img/f_ico.png");
    background-repeat: no-repeat;
    background-position: -92px 0 ;
}
.footer .f_r .r_m{
    width: 230px;
    height: 90%;
    float: left;
}
.footer .f_r .r_m p{
    font-size: 20px;
    color: white;
    display: block;
    margin-top: 30px;
    margin-left: 15px;
}
.footer .f_r .r_m .ulr{
    width: 190px;
    height: 140px;
    margin-top: 30px;
}
.footer .f_r .r_m .ulr li{
    width: 270px;
    height: 30px;
    line-height: 30px;
    color: #81C9FE;
    font-size: 14px;
}
.footer .f_r .r_r{
    width: 350px;
    height: 100%;
    float: left;
    margin-left: 40px;
    color: white;
}
.footer .f_r .r_r .code1,
.footer .f_r .r_r .code2{
    float: left;

    margin-top: 50px;
    margin-left: 30px;
}
.footer .f_r .val{
    width: 324px;
    height: 40px;
    float: left;
    background: red;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
}
.footer .f_r .val .l{
    font-size: 14px;
    line-height: 40px;
    margin-left: 10px;
}
.footer .f_r .val .r{
    float: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

/*    bottom    */
.footer .bottom{  clear: both;
    width: 91%;
    height: 80px;
    margin: 0 auto;

}
.footer .bottom .b_l{
    float: left;
    line-height: 80px;
}
.footer .bottom .b_l span{
    display: block;
    float: left;
    margin-right: 20px;
    line-height: 60px;
}
.footer .bottom .b_m{
    float: left;
    width: 340px;
    height: 80px;
    line-height: 30px;
    margin-left: 100px;
}
.footer .bottom .b_m span{
    font-weight: bold;
}
.footer .bottom .b_r .rrr{
    width: 324px;
    height: 70px;
    float: right;
    margin-right: 2px;
    background: #DDDDDD;
    line-height: 70px;
    text-align: center;
}
.footer .bottom .b_r .rrr em{
    font-style: normal;
    margin-left: 5px;
    margin-right: 5px;
}








/*   固定右边栏  */
.rightFloat{
    width: 72px;
    height: 256px;
    position: fixed;
    right: 0;
    bottom: 100px;
}
.rightFloat .rf{
    background: url("../img/right.png") no-repeat;
}
.rightFloat .rf_1{
    width: 72px;
    height: 72px;
    background-position: 0 0;
}
.rightFloat .rf_2{
    width: 72px;
    height: 71px;
    background-position: 0 -72px;
}
.rightFloat .rf_3{
    width: 72px;
    height: 70px;
    background-position: 0 -143px;
}
.rightFloat .rf_4{
    width: 72px;
    height: 43px;
    background-position: 0 -215px;
}
.rightFloat .rf_1:hover{
    background-position: -72px 0;
    transition: 0.5s ease all;
}

.rightFloat .rf_2:hover{
    background-position: -72px -72px;
    transition: 0.5s ease all;
}
.rightFloat .rf_3:hover{
    background-position: -73px -143px;
    transition: 0.5s ease all;
}
.rightFloat .rf_4:hover{
    background-position: -72px -215px;
    transition: 0.5s ease all;
}
.rightFloat .rf_3 .rf_img{
    width: 130px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    right: 72px;
}
.rightFloat .rf_3:hover .rf_img{
    height: 130px;
    transition: left 0.5s;
}
.rightFloat .rf_1{
    transition: 0.5s ease all;
}.rightFloat .rf_2{
    transition: 0.5s ease all;
}.rightFloat .rf_3{
    transition: 0.5s ease all;
}.rightFloat .rf_4{
    transition: 0.5s ease all;
}
















